<app-menu></app-menu>
 <div class= 'component-content'>
  <div class= 'lefthalf'>
  <span class='component-title'></span>
    <header>
  <span>
   <button button type="button" class="btn btn-success btn btn-lg" routerLink='/user/create'>Create New User</button>
</span>
   </header>
    </div>
</div>
  <p *ngIf='!users'> Loading....</p>
   <table class="table table-lg" *ngIf='users'>
    <tr style="font-weight:bold">
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('Id')">Id</a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('UserName')">Username</a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('Password')">Password</a></th> 
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('FirstName')">First Name</a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('LastName')">Last Name</a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('PhoneNumber')">Phone Number</a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('Email')">Email</a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('Reviewer')">Reviewer</a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('Admin')">Admin</a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('Action')">Action</a></th>
    </tr>
    <tr *ngFor= "let u of users | sort:sortBy">
    <td>{{u.Id}}</td><td>{{u.UserName}}</td><td>{{u.Password}}</td><td>{{u.FirstName}}</td>
    <td>{{u.LastName}}</td><td>{{u.PhoneNumber}}</td><td>{{u.Email}}</td><td>{{u.Reviewer?"Rvw":""}}</td>
    <td>{{u.Admin?"Adm":""}}</td>
    <th class="actions">
        <a routerLink='/user/detail/{{u.Id}}'><img src='assets/details.png' width='20' height='20' title='Detail'></a>
        <a routerLink='/user/edit/{{u.Id}}'><img src='assets/pencil-icon.png' width='20' height='20' title='Edit'>
        </a>
    </th>
    </tr>
</table>
<p *ngIf='!users'> Loading....</p>
