<app-menu></app-menu>
 <div class= 'component-content'>
  <div class= 'lefthalf'>
  <span class='component-title'></span>
    <header>
  <span>
   <button button type="button" class="btn btn-success btn btn-lg" routerLink='/product/create'>Create New Product</button>
</span>
   </header>
    </div>
</div>
  <p *ngIf='!products'> Loading....</p>
   <table class="table table-lg" *ngIf='products'>
    <tr style="font-weight:bold">
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('Vendor')">Vendor</a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('PartNumber')">PartNumber</a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('Name')">Name</a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('Price')">Price</a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('Photopath')">Photopath</a></th>
        <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('Action')">Action</a></th>
    </tr>
    <tr *ngFor= "let p of products">
    <td>{{p.Vendor.Name}}</td><td>{{p.PartNumber}}</td><td>{{p.Name}}</td><td>{{p.Price}}</td>
    <td>{{p.PhotoPath}}</td>
    <th class="actions">
        <a routerLink='/product/detail/{{p.Id}}'><img src='assets/details.png' width='20' height='20' title='Detail'></a>
        <a routerLink='/product/edit/{{p.Id}}'><img src='assets/pencil-icon.png' width='20' height='20' title='Edit'>
        </a>
    </th>
    </tr>
</table>
<p *ngIf='!products'> Loading....</p>