  .navbar{
        border: none;
        border-radius: 0;
        background-color: rgba(0,0,0,0.25);
}
ul {
	padding: 0;
	margin: 0;
}
li {
	display: inline-block;
	text-align: left;
}
a {
	color: white;
	padding: 10px;
	font-family: Tahoma;
    font-size: 20px;
    text-align: left;
}
a:hover {
	background-color: black;
}
#nav-right {
    float: right;
    margin-left: 42%;
    font-size: 14px;
}
#brand {
    font-style: italic;
    font-size: 24px;
    font-family: sans-serif;
}